.about{
    margin-top: 3%;
}
.message>img{
    width: 100%;
}
.message>h6{
    text-align: end;
}
.message>h6>a{ 
    color: rgb(180,5,5);
}
.about>.container>h1{
    font-weight: 700;
    font-size: 40px; 
}
.about-p>p{
    margin-top: 5%;
    font-size: 15px;
    text-align: justify;
    letter-spacing: 1px;
    font-family: 'Raleway';
    letter-spacing: 1px;
}